<%- include('partials/head.ejs', { title: 'Dashboard'}) %>

<body>
    <h3>Dashboard</h3> 

    <%- include('partials/navbar', {user}) %>
    
    <a href="/logout">Logout</a>


    <%- include('partials/footer') %>
</body>
</html>