<%- include("partials/head.ejs", { title: 'Homepage'}) %>

<body>
    <h3>Hello from index.ejs</h3>
    <%- include("partials/navbar.ejs", {user}) %>
    



    <%- include('partials/footer') %>
</body>
</html>